.upper {
    display: flex;
    padding: 22px 0px;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.contact {
}
.emailIcon {
    margin-right: 8px;
}
.email {
    font-size: 1.7rem;
}
.logoImg {
}
.castWrapper {
    display: flex;
    align-items: center;
}
.cast {
}
.castImage {
    margin-right: 30px;
}
.orderNowBtn {
}
.orderBtn {
}
