.wrapper {
    width: 17.3%;
    margin: 0 15px 30px 15px;
}
.bb {
    background: #f2f2f2;
    height: 257px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.productItem {
    text-decoration: none;
}
.productImage {
    max-width: 100%;
    height: auto;
    &:hover {
        opacity: 0.5;
    }
}
.productDes {
}
.productName {
    color: #1c1c1b;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 22px 0px 0px 0px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.productDetail {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productPrice {
    font-size: 1.5rem;
}
.df {
    display: flex !important;
    justify-content: space-between;
}
.w100 {
    width: 100%;
}
.h117 {
    height: 117px;
}
.w117 {
    width: 117px;
}
.bg {
    background-color: beige;
}
.w50 {
    width: 50%;
}
.m0 {
    margin: 0;
    border-bottom: 1px solid #000;
}
.itemSeacrhWrapper {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05) !important;
}
