.newItem {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.newsImgWrapper {
    padding: 0px 15px;
}
.newImg {
}
.newDetailWrapper {
}
.newsTitle {
    color: #141414;
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.newsTime {
    border-bottom: #f2c119 solid 1px;
    padding-bottom: 4px;
    color: #141414;
    font-size: 1.5rem;
}
.newsDes {
    color: #141414;
    font-size: 1.7rem;
    line-height: 32px;
    font-weight: 400;
    padding-top: 15px;
}
